{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block body %}
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    {% if form.vars.value.id is null %}
                        <h3 class="box-title">Создание карточки</h3>
                    {% else %}
                        <h3 class="box-title">Редактирование карточки</h3>
                    {% endif %}
                </div>
                <div class="box-header with-border">
                    {% if form.vars.value.id is null %}
                        <a class="btn" href="{{ path('card_new', {id: card.id, locale: 'en'}) }}">EN</a>
                        <a class="btn" href="{{ path('card_new', {id: card.id, locale: 'ru'}) }}">RU</a>
                    {% else %}
                        <a class="btn" href="{{ path('card_edit', {id: card.id, locale: 'en'}) }}">EN</a>
                        <a class="btn" href="{{ path('card_edit', {id: card.id, locale: 'ru'}) }}">RU</a>
                    {% endif %}
                </div>

                {{ form_start(form) }}
                <div class="box-body">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#main" aria-controls="main" role="tab"
                                  data-toggle="tab">Main info</a></li>
                        <li role="presentation"><a href="#filters" aria-controls="other" role="tab" data-toggle="tab">Filters</a></li>
                    </ul>

                    <div class="tab-content top">
                        <div role="tabpanel" class="tab-pane active" id="main">
                            {{ form_widget(form) }}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Arguments</label>
                                <div class="col-sm-10">
                                    {% for argument in arguments %}
                                        <a href="{{ path('argument_edit', { 'id': argument.id }) }}"
                                           class="btn btn-default">{{ argument.name }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <!-- Filters tab -->
                        <div role="tabpanel" class="tab-pane active" id="filters">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <label class="col-sm control-label">Filters</label>
                                    <div class="form-group-sm form-group-right">
                                        <div class="col-sm-10">
                                            <input type="button" class="btn btn-info filter-add" value="Добавить">
                                        </div>
                                    </div>
                                    <div class="form-group-sm">
                                        <select name="cardFilters" class="form-control" id="cardFilters">
                                            <option value=""></option>
                                            {% for filter in filters %}
                                                <option value="{{ filter.id }}">{{ filter.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group-sm" id="charts">
                                        <label class="col-sm control-label">Charts</label>
                                        <div class="row">
                                            {% for chart in charts %}
                                                <div class="col-lg-6">
                                                    <div class="input-group">
                                              <span class="input-group-addon">
                                                <input type="checkbox" aria-label="..." name="charts[]" value="{{ chart.id }}">
                                              </span>
                                                        <input type="text" class="form-control" aria-label="..." value="{{ chart.name }}" disabled>
                                                    </div><!-- /input-group -->
                                                </div><!-- /.col-lg-6 -->
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <div class="form-group-sm selected-filters">
                                        {%  if(form.vars.data.data and form.vars.data.data.filters is defined) %}
                                            {% for filter in form.vars.data.data.filters %}
                                                {% set loopIndex = loop.index %}
                                                <div class="filter-item">
                                                    <span class="label label-primary">{{ filter.name }}</span>
                                                    {% for chart in filter.charts %}
                                                        <span class="label label-info chart-item">{{ chart.name }}</span>
                                                    {% endfor %}
                                                    <div class="btn-group" role="group" aria-label="...">
                                                        <button type="button" class="btn btn-default filter-delete" onclick="filter.deleteItem(this)">Delete</button>
                                                    </div>
                                                    <input type="hidden" name="card[data][filters][{{ loop.index }}][id]" value="{{ filter.id }}"/>
                                                    <input type="hidden" name="card[data][filters][{{ loop.index }}][name]" value="{{ filter.name }}"/>
                                                    {% for chart in filter.charts %}
                                                        <input type="hidden" name="card[data][filters][{{ loopIndex }}][charts][{{ loop.index }}][id]" value="{{ chart.id }}"/>
                                                        <input type="hidden" name="card[data][filters][{{ loopIndex }}][charts][{{ loop.index }}][name]" value="{{ chart.name }}"/>
                                                    {% endfor %}
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <ul class="pull-right">
                        <a class="btn btn-default" href="{{ path('card_index') }}">Отмена</a>
                        <input type="submit" class="btn btn-primary" value="Сохранить"/>
                        {{ form_end(form) }}
                    </ul>

                    {% if delete_form is defined %}
                        {{ form_start(delete_form) }}
                        <input id="delete_button" class="btn btn-danger pull-left btn-delete" type="submit" value="Delete">
                        {{ confirm('#delete_button') }}
                        {{ form_end(delete_form) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="box box-primary">
                <div class="box-body">
                    {{ form_start(upload_form) }}
                    {{ form_widget(upload_form) }}
                </div>
                <div class="box-footer">
                    <ul class="pull-right">
                        <a class="btn btn-default" href="{{ path('card_index') }}">Отмена</a>
                        <input type="submit" class="btn btn-primary" value="Сохранить"/>
                        {{ form_end(upload_form) }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="box box-primary">
                <div class="box-body">
                    {% for file in files %}
                        <div>
                            <p>
                                {% for image in file.cardImage %}
                                    <b>Priority:</b> {{ image.priority }} <br/>
                                {% endfor %}
                                <b>Path:</b> {{ file.path }}
                            </p>
                            <img src="{{ file.path }}" width="500"/>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/bi/js/app.js') }}"></script>
{% endblock %}