{% extends 'base.html.twig' %}

{% block header_content %}
    {{ card.name }}
    <small>редактирование карты</small>
{% endblock %}

{% form_theme edit_form _self %}
{% block _card_cardCarouselImage_entry_row %}
    <ul class="list-inline">
        <li><img src="{{ form.file.vars['data'].path }}" width="250"/></li>
        <li>{{ form_widget(form.priority) }}</li>
    </ul>
{% endblock %}

{% form_theme upload_form _self %}
{% block _card_carousel_file_deletedImages_widget %}
    {% for option in form.children %}
        {{ form_widget(option) }}
        <img src="{{ option.vars['label'] }}" width="500"/>
    {% endfor %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="box box-primary">
                {{ form_start(edit_form) }}
                <div class="box-header with-border">
                    <a class="btn" href="{{ path('card_edit', {id: card.id, locale: 'en'}) }}">EN</a>
                    <a class="btn" href="{{ path('card_edit', {id: card.id, locale: 'ru'}) }}">RU</a>
                </div>
                <div class="box-body">
                    {{ form_widget(edit_form) }}
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Arguments</label>
                        <div class="col-sm-10">
                            {% for argument in arguments %}
                                <a href="{{ path('argument_edit', { 'id': argument.id }) }}"
                                   class="btn btn-default">{{ argument.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <ul class="pull-right">
                        <a class="btn btn-default" href="{{ path('card_index') }}">Отмена</a>
                        <input type="submit" class="btn btn-primary" value="Сохранить"/>
                        {{ form_end(edit_form) }}
                    </ul>
                    {{ form_start(delete_form) }}
                    <input id="delete_button" class="btn btn-danger pull-left btn-delete" type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </div>
            </div>
        </div>
    </div>
    {{ confirm('#delete_button') }}
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="box box-primary">
                <div class="box-body">
                    {{ form_start(upload_form) }}
                    {{ form_widget(upload_form) }}
                </div>
                <div class="box-footer">
                    <ul class="pull-right">
                        <a class="btn btn-default" href="{{ path('card_index') }}">Отмена</a>
                        <input type="submit" class="btn btn-primary" value="Сохранить"/>
                        {{ form_end(upload_form) }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}