{% extends 'base.html.twig' %}

{% block header_content %}
    {{ card.name }}
    <small>редактирование карты</small>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="box box-primary">
                {{ form_start(edit_form) }}
                <div class="box-header with-border">
                    <a class="btn" href="{{ path('card_edit', {id: card.id, locale: 'en'}) }}">EN</a>
                    <a class="btn" href="{{ path('card_edit', {id: card.id, locale: 'ru'}) }}">RU</a>
                </div>
                <div class="box-body">
                    {{ form_row(edit_form.name) }}
                    {{ form_row(edit_form.description) }}
                    {{ form_row(edit_form.description_long) }}
                    {{ form_row(edit_form.rating) }}
                    {{ form_row(edit_form.author) }}
                    {{ form_row(edit_form.image) }}
                    {% if card.image is not empty %}
                        <div class="form-group">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-10">
                                <img src="{{ '/uploads/' ~  card.image }}" width="300"/>
                            </div>
                        </div>
                    {% endif %}
                    {{ form_row(edit_form.carousel) }}
                    {{ form_row(edit_form.type) }}
                    {{ form_row(edit_form.price) }}
                    {{ form_row(edit_form.cardCategory) }}
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Arguments</label>
                        <div class="col-sm-10">
                            {% for argument in arguments %}
                                <a href="{{ path('argument_edit', { 'id': argument.id }) }}"
                                   class="btn btn-default">{{ argument.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <ul class="pull-right">
                        <a class="btn btn-default" href="{{ path('card_index') }}">Отмена</a>
                        <input type="submit" class="btn btn-primary" value="Сохранить"/>
                        {{ form_end(edit_form) }}
                    </ul>
                    {{ form_start(delete_form) }}
                    <input id="delete_button" class="btn btn-danger pull-left btn-delete" type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </div>
            </div>
        </div>
    </div>
    {{ confirm('#delete_button') }}
{% endblock %}