{% extends 'base.html.twig' %}

{% block body %}
    <h1>Argument list</h1>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for argument in arguments %}
            <tr>
                <td>
                    {#<a href="{{ path('user_role_show', { 'id': userRole.id }) }}">{{ userRole.id }}</a>#}
                    {{ argument.id }}
                </td>
                <td>{{ argument.name }}</td>
                <td>
                    {#<a href="{{ path('user_role_show', { 'id': userRole.id }) }}" class="btn btn-default">show</a>#}
                    <a href="{{ path('argument_edit', { 'id': argument.id }) }}" class="btn btn-default">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#<a href="{{ path('user_role_new') }}" class="btn btn-default">Create a new entry</a>#}
{% endblock %}
